/* Background Styling */
.change-container {
  height: 100vh;
  background-image: url("../../assets/poverty web 1.png"); /* Replace with actual image URL */
  background-size: cover;
  background-position: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* Overlay Effect */
.change-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(58, 95, 76, 0.4);
  z-index: 1; /* Ensure it stays above the background image */
}
/* Form Box */
.form-wrapper {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 540px;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 40px;
}
/* Logo Styling */
.logo img {
  height: 80px;
}
.change-text {
  color: #ccc;
  line-height: 30px;
}

.changePassword-btn {
  margin-top: 160px;
}
