.change-password-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  padding-top: 0 !important;
}

.change-password-heading {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #1d3b16;
  margin-bottom: 10px;
  text-align: left;
}

.input-group {
  margin-bottom: 10px;
}

.input-group input {
  width: 90%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.continue-button {
  width: 95%;
  height: 50px !important;
  padding: 12px;
  background-color: #1d3b16;
  color: white;
  font-size: 18px;
  margin-top: 180px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.continue-button:focus {
  outline: none;
}

.continue-button:hover {
  background-color: #164a10;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
